:root {
  --color-main: #00695C;
  --color-light: rgb(51, 135, 124);
  --color-background: white;
  --color-inverse-font: white;
  --color-result: crimson;
  --font-main: "Open Sans", Arial, Helvetica, sans-serif;
  --font-header: "Ubuntu", Arial, Helvetica, sans-serif;
}

body {
  font-family: var(--font-main);
  text-align: center;
  color: var(--color-main);
  background-color: var(--color-background);
}

section {
  margin: 0;
}

header {
  background-color: var(--color-main);
  color:var(--color-inverse-font);
  margin: 0em;
  padding: 0.5em;
}

h1, h2 {
  font-family: var(--font-header);
}

h1 {
  font-size: 1.5em;
  margin: 0.2em;
}

h2 {
  font-weight: normal;
  font-size: 1.1em;
}

p {
  font-size: 2.2em;
}

p.field {
  width: 2.3em;
  margin: 0em 0.1em;
  padding-top: inherit;
}

p.result {
  font-size: 3em;
}

p.fuel_result {
  color: var(--color-result);
}

button {
  background-color: var(--color-main);
  border: none;
  color: var(--color-inverse-font);
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  padding: 0.5em;
}

button.parameter {
  padding: 0em;
  width: 3em;
  height: 3em;
  margin: 0em 0.4em;
}

button:active {
  background-color: var(--color-light);
}

a {
  font-size: small;
  color: var(--color-inverse-font);
}

fieldset.controls {
  display: flex;
  justify-content: center;
  border-width: 0;
  margin: 0;
}

.section_results {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}
